* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.main--Container {
  display: flex;
  flex-direction: column;
}

.NavBar--Container {
  display: none;
}

.formContainer {
  display: flex;
  margin-left: 2.5rem;
}

.containeR {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-left: 40px;
}

.searchContainer {
  /* height: 100%; */
}

.discover--Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin-left: 40px;
}

.img--container {
  max-width: 100%;
  max-height: 100%;
}

iframe {
  width: 100%;
  height: 400px;
}

.img--container > img {
  width: 300px;
  height: 300px;
}

.searchCard {
  display: flex;
  margin-top: 20px;
}

.searchBar {
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 285px;
  height: 40px;
}

.title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}

.movieTitle {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
}

.footNote {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  position: sticky;
  text-align: center;
  margin-bottom: 5rem;
}

.border-end {
  background: #171717;
  box-shadow: 1px 0px 0px #686868;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-top: 30px; */
}

.navDesktop--Link {
  top: 0;
  left: 0;
  position: fixed;
  border: 1px solid red;
  width: 10vw;
  height: 100vh;
  z-index: 1;
}

.navDesktopContainer {
  display: none;
  justify-content: space-between;
  gap: 50vh;
  align-items: center;
  flex-direction: column;
}

.navContainerModal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #171717;
  height: 100%;
  width: 0;
  z-index: 1;
  transition: 0.3s all ease-in;
}

.navModalLink--container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  top: 10%;
  left: 0;
  transform: translate(-25%, -30%);
}

h5 {
  margin-left: 1rem;
}

.movie--detail {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.navModalLink--container a {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  text-align: left;
  text-align: center;
  transition: 0.3s;
  color: #838383;
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  margin: 0.5rem;
}

#discover {
  margin-left: 28px;
  font-size: 30px;
}

.navModalLink--container a:hover,
.navModalLink--container a:focus {
  color: #fff;
}

.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: sticky;
  top: 50vh;
  margin-top: 2rem;
}

.NavBar--Container-Mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 20px;
  margin-left: 1.5rem;
}

.navDesktopContainer p {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 28px;
}

.sideBar a {
  color: #838383;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  margin: 0.5rem;
}

.sideBar a:hover {
  color: #fff;
  text-decoration: none;
}

.hide {
  display: none;
}

.card {
  position: relative;
  display: inline-block;
}

.poster-info-title {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
}

.poster-info-title {
  text-align: center;
  color: transparent;
}

.poster-info-title:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.navLogo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tredingInfo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
}

.NavBar--Container--Mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20px;
}

.poster-info-title-trending {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 25%;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 15px;
  padding-left: 0px;
}

.img--container > img {
  width: 100%;
  height: 100%;
}

/* Mediaquery */

@media (min-width: 1080px) {
  .navContainer {
    display: none;
  }
  .navDesktopContainer {
    display: flex;
    position: fixed;
    gap: 50vh;
  }

  .img--container > img {
    width: 100%;
    height: 100%;
  }

  .searchBar {
    width: 385px;
  }

  .footNote span {
    line-height: 120px;
  }

  .poster-info-title-trending {
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 5px;
  }

  .NavBar--Container-Mobile {
    display: none;
  }

  .NavBar--Container {
    display: flex;
    justify-content: space-evenly;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    width: 278px;
    background: #171717;
    box-shadow: 1px 0px 0px #686868;
  }

  .navLogo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .searchContainer {
    margin-top: 3rem;
    flex-direction: column;
    justify-content: center;
    /* height: 100vh; */
    max-width: 90%;
    margin-left: 40px;
    margin-top: 30px;
  }

  .sideBar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-left: 0.3rem;
  }

  iframe {
    margin-left: 2px;
    width: 75vw;
    height: 50vh;
  }

  .movie--detail {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  .main--Container {
    display: flex;
    flex-direction: row;
    max-width: 95%;
  }

  .formContainer {
    margin-right: 35px;
  }
}


