* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchBar {
  border-radius: 100px;
  padding: 20px;
  width: 385px;
  height: 40px;
}

.title {
font-weight: 700;
font-size: 27px;
line-height: 30px;
}

.movieTitle {
color: #fff;
font-weight: 700;
font-size: 16px;
line-height: 40px;
}

.btn-outline-info {
  cursor: none;
}
